<div class='col-md-12'>
  <div class="col-md-9">
    <% @photos.each_slice(4).each do |photo_group| %>
      <div class="row">
        <% photo_group.each do |photo| %>
          <div class="col-sm-3 col-xs-6">
            <center><h4><%= photo.title %></h4></center>
            <div class="panel panel-default">
              <div class="panel-thumbnail"><%=link_to image_tag(photo.avatar_url, class: "img-responsive"), photo_path(photo) %>
              </div>
              <p>By- <%= photo.user.full_name %> <%= formated_date(photo.created_at) %></p>
            </div>
          </div><!--/col-->
        <% end %>
      </div>
    <%end%>
  </div>
  
  <div class="col-md-3 margin-top-5p">
    <div class="row">
     <div class="col-sm-9 col-xs-9">
        <%= link_to "Create Starter Pack", new_photo_path, class: 'btn btn-success' %>
      </div><!--/col-->

     <div class="col-sm-9 col-xs-9 margin-top-20">
        <div class="panel panel-default advertisement">
          <div class="panel-thumbnail">Ad block goes here
          </div>
        </div>
      </div><!--/col-->
    </div>

  </div>
</div>
