<!DOCTYPE html>
<html>
<head>
  <title>Starterpack</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'shared/nav' %>

  <div class='container' style="min-height: 100%; margin-bottom: 60px;">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>

  <div id="footer" class="footer navbar-fixed-bottom">
    <div class="container">
      <p class="text-muted text-center">Copyright <%= Date.today.year %> - Final Push LLC </p>
    </div>
  </div>

</body>
</html>
